.mainPage {
  header {
    display: flex;
    background-color: #202431;
    padding: 30px 5rem;
    width: 100%;

    & .headerLogo {
      width: 70%;
      display: inherit;

      & h1 {
        color: #FFFFFF;
        font-family: 'Roboto', sans-serif;
        font-size: 59px;
        font-weight: 300;
        line-height: 50px;
        letter-spacing: 1px;
      }

      & img {
        width: 80px;
        height: 50px;
        margin-right: 20px;
      }
    }

    & .changeLang {
      width: 400px;
      display: flex;
      align-items: baseline;
      justify-content: flex-end;

      & p {
        color: #FFFFFF;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        line-height: 50px;
        letter-spacing: 1px;
      }

      & button {
        font-family: 'Roboto', sans-serif;
        height: 25px;
        margin: 0 5px;
        padding: 0 13px;
        background: rgb(0, 154, 216);
        border-radius: 30px;
        border: none;
      }

      & .checked {
        color: white;
      }
    }
  }

  & .FormInput {
    padding: 70px 5rem 70px 5rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  & .mainContent {
    padding: 20px 5rem 70px 5rem;
    background-color: #262936;

    & .forecast {
      & h2 {
        text-align: center;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
        line-height: 50px;
        letter-spacing: 1px;
        font-size: 40px;
        margin-bottom: 20px;
      }

      &-container2 {
        display: flex;
        margin-top: 30px;
        justify-content: space-between;

        & p {
          font-weight: 400;
          font-family: 'Roboto', sans-serif;
          line-height: 34px;
          letter-spacing: 1px;
          font-size: 21px;
          max-width: 33%;
        }

        & img {
          max-width: 33%;
          height: 200px;
        }
      }

      &-container3 {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        & p {
          font-weight: 300;
          font-family: 'Roboto', sans-serif;
          line-height: 40px;
          letter-spacing: 1px;
          font-size: 33px;
          margin-bottom: 20px;
          max-width: 365px;
        }

        & img {
          width: 350px;
          height: 200px;
        }
      }

      &-container {
        display: flex;
        align-items: center;

        & div {
          flex-direction: column;
          display: flex;

          & .img2 {

            margin-left: 200px;
            margin-top: 5px;
          }

          & img {
            width: 300px;
            height: 200px;
          }
        }

        & h3 {
          display: block;
          margin-right: 220px;
          width: 600px;
          font-size: 35px;
          line-height: 1.5;
          font-family: 'Roboto', sans-serif;
        }
      }
    }

    .carousel-inner {
      height: 400px
    }


  }

  & .footerContent {
    padding: 15px 5rem;
    background: #1e202b;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & p {
      font-family: 'Roboto', sans-serif;
      font-size: 32px;
      color: white;
      margin: 0;
      font-weight: 400;
    }

    & .social-links {
      a {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background: #1e202b;
        color: rgb(0, 154, 216);
        text-align: center;
        line-height: 2;
        transition: .3s ease;

        &:hover {
          background-color: rgb(0, 154, 216);
          color: white;
        }

        & Icon {
          font-size: 2rem;
        }
      }
    }
  }
}