header {
  display: flex;
  background-color: #202431;
  padding: 30px 5rem;
  width: 100%;

  & .headerLogo {
    width: 70%;
    display: inherit;

    & h1 {
      color: #FFFFFF;
      font-size: 59px;
      font-weight: 300;
      line-height: 50px;
      letter-spacing: 1px;
    }

    & img {
      width: 80px;
      height: 50px;
      margin-right: 20px;
    }
  }

  & .link {
    width: 250px;
    max-height: 48px;
    padding: 0 20px;
    color: white;
    border-radius: 30px;
    border: 2px solid #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .changeLang {
    width: 400px;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;

    & p {
      color: #FFFFFF;
      font-weight: 300;
      line-height: 50px;
      letter-spacing: 1px;
    }

    & button {
      height: 25px;
      margin: 0 5px;
      padding: 0 13px;
      background: rgb(0, 154, 216);
      border-radius: 30px;
      border: none;
    }

    & .checked {
      color: white;
    }
  }
}